extends ../../_layouts/api

append vars
  -var section = 'modules';
  -var title = 'Overview';
  -var pageSlug = 'message';
  -var description = 'Bitcoin Message Verification and Signing.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-message/edit/master/docs/index.md')
    include:marked ../../../generated/bitcore-message/docs/index.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-message/blob/master/lib/message.js')
    include:marked ../../../generated/bitcore-message/lib/message.md
