extends ../../_layouts/api

append vars
  -var section = 'modules';
  -var title = 'Overview';
  -var pageSlug = 'channel';
  -var description = 'Overview of Bitcore\'s Bitcoin Payment Channels module.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-channel/edit/master/docs/index.md')
    include:marked ../../../generated/bitcore-channel/docs/index.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-channel/blob/master/lib/transactions/commitment.js')
    include:marked ../../../generated/bitcore-channel/lib/transactions/commitment.md
  +libMarkdown('https://github.com/bitpay/bitcore-channel/blob/master/lib/transactions/payment.js')
    include:marked ../../../generated/bitcore-channel/lib/transactions/payment.md
  +libMarkdown('https://github.com/bitpay/bitcore-channel/blob/master/lib/transactions/refund.js')
    include:marked ../../../generated/bitcore-channel/lib/transactions/refund.md
  +libMarkdown('https://github.com/bitpay/bitcore-channel/blob/master/lib/consumer.js')
    include:marked ../../../generated/bitcore-channel/lib/consumer.md
  +libMarkdown('https://github.com/bitpay/bitcore-channel/blob/master/lib/provider.js')
    include:marked ../../../generated/bitcore-channel/lib/provider.md
  +libMarkdown('https://github.com/bitpay/bitcore-channel/blob/master/lib/errors.js')
    include:marked ../../../generated/bitcore-channel/lib/errors.md
