extends ../_layouts/guides

append vars
  -var title = 'Browser Builds';
  -var pageSlug = 'browser';
  -var description = 'Guide to using and writing modules and optimizing browser bundles.';

block content
  include:marked ../../generated/bitcore-lib/docs/browser.md
