extends ../_layouts/guides

append vars
  -var title = 'Guides';
  -var description = 'Guides and Tutorials for using Bitcore';

block content
  h1.header__bottom-border-left Guides
  p.m-t Learn more about Bitcore with one of our guides or Bitcore development tutorials.

  h4.m-y-md Guides
  .m-t
    .container
      .row
        .col-sm-3.p-l-0
          a(href="/guides/full-node")
            .card
              img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
              .card-block.p-y-xs
                .card-title Run a Full Node

        .col-sm-3
          a(href="/guides/wallet-service")
            .card
              img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
              .card-block.p-y-xs
                .card-title Run a Wallet Service
        .col-sm-3
          a(href="/guides/browser")
            .card
              img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
              .card-block.p-y-xs
                .card-title Browser Builds
        .col-sm-3
          a(href="/guides/upstart-daemon")
            .card
              img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
              .card-block.p-y-xs
                .card-title Run bitcoin as a daemon


  h4.m-y-md Development Tutorials
  .m-t
    .container
      .row
        .col-sm-3.p-l-0
          a(href="/guides/browser")
            .card
              img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
              .card-block.p-y-xs
                .card-title Service Development

        .col-sm-3
          a(href="/guides/f")
            .card
              img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
              .card-block.p-y-xs
                .card-title Satoshi Fire Alarm

        .col-sm-3
          a(href="/guides/browser")
            .card
              img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
              .card-block.p-y-xs
                .card-title Lemonade Stand
      .row
        .col-sm-3.p-l-0
          a(href="/guides/browser")
            .card
              img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
              .card-block.p-y-xs
                .card-title I made this
