extends ../_layouts/guides

append vars
  -var title = 'Guides';
  -var description = 'Guides and Tutorials for using Bitcore';

block content
  h1.header__bottom-border-left Guides
  p.m-t Learn more about Bitcore with one of our guides or Bitcore development tutorials.

  h4.m-y-md Guides
  .m-t
    .container
      .row
        .col-sm-4.p-l-0
          .card
            img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
            .card-block
              h5.card-title Run a Wallet Server

        .col-sm-4
          .card
            img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
            .card-block
              h5.card-title Bitcore in the Browser

  h4.m-y-md Development Tutorials
  .m-t
    .container
      .row
        .col-sm-4.p-l-0
          .card
            img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
            .card-block
              h5.card-title Lemonade Stand

        .col-sm-4
          .card
            img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
            .card-block
              h5.card-title I made this
