extends ../_layouts/guides

append vars
  -var title = 'Guides';
  -var description = 'Guides and Tutorials for using Bitcore';

block content

  .m-t
    .container
      .row
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          a(href="/guides/full-node")
            img.card-img-top.width-100(src='/images/illustrations/node.svg', alt='Card image cap')
          a(href="/guides/full-node").orange-uppercase-link Run a Full Node
          p Learn how to run a Bitcore full node on the bitcoin network
        //- .col-xs-12.col-sm-6.col-md-4.col-lg-4
        //-   a(href="/guides/bitcoin")
        //-     img.card-img-top.width-100(src='/images/illustrations/node-standalone.svg', alt='Card image cap')
        //-   a(href="/guides/bitcoin").orange-uppercase-link Run Bitcoin Standalone
        //-   p Learn how to run a Bitcoin full node standalone
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          a(href="/guides/wallet-service")
            img.card-img-top.width-100(src='/images/illustrations/bws.svg', alt='Card image cap')
          a(href="/guides/wallet-service").orange-uppercase-link Run a Wallet Service
          p Connect a wallet to your own bitcoin node
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          a(href="/guides/satoshi-fire-alarm")
            img.card-img-top.width-100(src='/images/illustrations/fire-alarm.svg', alt='Card image cap')
          a(href="/guides/satoshi-fire-alarm").orange-uppercase-link Satoshi Fire Alarm
          p Watch some famous coins and then trigger an event
      .row
        //- .col-xs-12.col-sm-6.col-md-4.col-lg-4
        //-   a(href="/guides/upstart-daemon")
        //-     img.card-img-top.width-100(src='/images/illustrations/daemon.svg', alt='Card image cap')
        //-   a(href="/guides/upstart-daemon").orange-uppercase-link Run bitcoin as daemon
        //-   p Learn how to run bitcoin as a daemon
        //- .col-xs-12.col-sm-6.col-md-4.col-lg-4
        //-   a(href="/guides/browser")
        //-     img.card-img-top.width-100(src='/images/illustrations/bitcore-browser.svg', alt='Card image cap')
        //-   a(href="/guides/browser").orange-uppercase-link Browser Builds
        //-   p Learn how to build bitcore in the browser
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          a(href="/guides/i-made-this")
            img.card-img-top.width-100(src='/images/illustrations/i-made-this.svg', alt='Card image cap')
          a(href="/guides/i-made-this").orange-uppercase-link I made this
          p Learn how to timestamp data directly into the blockchain
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          a(href="/guides/service-development")
            img.card-img-top.width-100(src='/images/illustrations/services.svg', alt='Card image cap')
          a(href="/guides/service-development").orange-uppercase-link Service Development
          p Learn how to build custom services on top of bitcore
        //- .col-xs-12.col-sm-6.col-md-4.col-lg-4
        //-   a(href="/guides/lemonade-stand")
        //-     img.card-img-top.width-100(src='/images/illustrations/lemonade-stand.svg', alt='Card image cap')
        //-   a(href="/guides/lemonade-stand").orange-uppercase-link Lemonade Stand
        //-   p Learn how to accept bitcoin payments directly on your website.

