extends ../_layouts/guides

append vars
  -var title = 'Guides';
  -var description = 'Guides and Tutorials for using Bitcore';

block content

  .m-t
    .container
      .row
        .col-xs-6.col-sm-6.col-md-4.col-lg-3
          img.card-img-top.width-100(src='/images/illustrations/node.svg', alt='Card image cap')
          a(href="/guides/full-node").orange-uppercase-link Run a Full Node
          p Learn how to run a full node on the bitcoin network
        .col-xs-6.col-sm-6.col-md-4.col-lg-3
          img.card-img-top.width-100(src='/images/illustrations/daemon.svg', alt='Card image cap')
          a(href="/guides/upstart-daemon").orange-uppercase-link Run bitcoin as daemon
          p Learn how to run bitcoin as a daemon
        .col-xs-6.col-sm-6.col-md-4.col-lg-3
          img.card-img-top.width-100(src='/images/illustrations/bws.svg', alt='Card image cap')
          a(href="/guides/wallet-service").orange-uppercase-link Run a Wallet Service
          p Connect a wallet to your own bitcoin node
        .col-xs-6.col-sm-6.col-md-4.col-lg-3
          img.card-img-top.width-100(src='/images/illustrations/bitcore-browser.svg', alt='Card image cap')
          a(href="/guides/browser").orange-uppercase-link Browser Builds
          p Learn how to build bitcore in the browser
      .row
        .col-sm-3
          a(href="/guides/service-development")
            .card
              img.card-img-top.width-100(src='/images/guides-images/service-development.svg', alt='Card image cap')
              .card-block.p-sm
                .card-title Service Development

        .col-sm-3
          a(href="/guides/satoshi-fire-alarm")
            .card
              img.card-img-top.width-100(src='/images/guides-images/satoshi-fire-alarm.svg', alt='Card image cap')
              .card-block.p-sm
                .card-title Satoshi Fire Alarm
                
        .col-sm-3
          a(href="/guides/lemonade-stand")
            .card
              img.card-img-top.width-100(src='/images/guides-images/lemonade-stand.svg', alt='Card image cap')
              .card-block.p-sm
                .card-title Lemonade Stand
                
        .col-sm-3
          a(href="/guides/i-made-this")
            .card
              img.card-img-top.width-100(src='/images/guides-images/i-made-this.svg', alt='Card image cap')
              .card-block.p-sm
                .card-title I Made This
