extends ../../_layouts/guides

append vars
  -var title = 'lemonade-stand | Tutorials';
  -var pageSlug = 'lemonade-stand';
  -var description = 'Build a simple web service to accept bitcoin payments with Bitcore.';

block content
  include:marked lemonade-stand.md
