nav.navbar.navbar-light.bg-faded
  .container
    button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2") &#9776;
    .collapse.navbar-toggleable-xs#exCollapsingNavbar2
      a(href="/" title="Home").logo.logo-dark.margin-top
      ul.nav.navbar-nav.pull-right
        li.nav-item
          a.nav-link(href="/start") Getting Started
        li.nav-item
          a.nav-link(href="/services") Services
        li.nav-item
          a.nav-link(href="/guides") Guides
        li.nav-item
          a.nav-link(href="http://discuss.bitcore.io/") Forum
        li.nav-item
          a.nav-link(href="http://bitcore.io/playground/#/units") Playground        
        li.nav-item
          a.nav-link(href="/api") API
