nav.navbar.navbar-light.bg-faded.hidden-xs-down.light-nav
  .container
    .navbar.p-l-0
      a(href="/" title="Home").logo.logo-dark.margin-top
      ul.nav.navbar-nav.pull-right
        li.nav-item
          a.nav-link(href="/start" class= section === 'start' ? "active" : undefined) Getting Started
        li.nav-item
          a.nav-link(href="/guides" class= section === 'guides' ? "active" : undefined) Guides
        li.nav-item
          a.nav-link(href="//forum.bitcore.io/") Forum
        li.nav-item
          a.nav-link(href="/playground") Playground        
        li.nav-item
          a.nav-link(href="/api") API
    
    
.mobile-menu.hidden-sm-up  
  #exCollapsingNavbar.collapse
    .bg-inverse.p-a
      h3
        ul.p-l-0.no-bullets
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/start" class= section === 'start' ? "active" : undefined) Getting Started
          li.nav-item
            a.nav-link(href="/guides" class= section === 'guides' ? "active" : undefined) Guides
          li.nav-item
            a.nav-link(href="//forum.bitcore.io/") Forum
          li.nav-item
            a.nav-link(href="/playground") Playground        
          li.nav-item
            a.nav-link(href="/api") API
  nav.navbar.navbar-light.bg-faded
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar')
      .logo.logo-square-orange
