nav.navbar.navbar-fixed-top.dark-nav.hidden-sm-down
  a(href="/" title="Home").logo.logo-light.margin-top
  ul.nav.navbar-nav.pull-right
    li.nav-item
      a.nav-link(href="/start" class= section === 'start' ? "active" : undefined) Getting Started
    li.nav-item
      a.nav-link(href="/guides" class= section === 'guides' ? "active" : undefined) Guides
    li.nav-item
      a.nav-link.active(href="/api") Docs
    li.nav-item
      a.nav-link(href="/playground") Playground        
    li.nav-item
      a.nav-link(href="//forum.bitcore.io/") Forum

.mobile-menu.hidden-md-up.navbar-fixed-top
  #exCollapsingNavbar.collapse
    .bg-inverse.p-md
      h3.m-b-0 
        ul.p-l-0.no-bullets.m-b-0
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/start") Getting Started
          li.nav-item
            a.nav-link(href="/guides") Guides
          li.nav-item
            a.nav-link.active(href="/api") Docs
          li.nav-item
            a.nav-link(href="/playground") Playground        
          li.nav-item
            a.nav-link(href="//forum.bitcore.io/") Forum
  nav.navbar.dark-nav
    button.navbar-toggler.p-l-0(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar')
      .logo.logo-square-orange.menu-text.color-white Menu
