nav.navbar.navbar-light.navbar-fixed-top.dark-nav
  button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2") &#9776;
  .collapse.navbar-toggleable-xs#exCollapsingNavbar2
    a(href="/" title="Home").logo.logo-light.margin-top
    ul.nav.navbar-nav.pull-right
      li.nav-item
        a.nav-link(href="/start") Getting Started
      li.nav-item
        a.nav-link(href="/guides") Guides
      li.nav-item
        a.nav-link(href="//forum.bitcore.io/") Forum
      li.nav-item
        a.nav-link(href="/playground") Playground        
      li.nav-item
        a.nav-link(href="/api") API
