extends ../../_layouts/api

append vars
  -var section = 'modules';
  -var title = 'Overview';
  -var pageSlug = 'ecies';
  -var description = 'Uses ECIES symmetric key negotiation from public keys to encrypt arbitrarily long data streams.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-ecies/edit/master/docs/index.md')
    include:marked ../../../generated/bitcore-ecies/docs/index.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-ecies/blob/master/lib/aes.js')
    include:marked ../../../generated/bitcore-ecies/lib/aes.md
  +libMarkdown('https://github.com/bitpay/bitcore-ecies/blob/master/lib/aescbc.js')
    include:marked ../../../generated/bitcore-ecies/lib/aescbc.md
  +libMarkdown('https://github.com/bitpay/bitcore-ecies/blob/master/lib/cbc.js')
    include:marked ../../../generated/bitcore-ecies/lib/cbc.md
  +libMarkdown('https://github.com/bitpay/bitcore-ecies/blob/master/lib/ecies.js')
    include:marked ../../../generated/bitcore-ecies/lib/ecies.md
  +libMarkdown('https://github.com/bitpay/bitcore-ecies/blob/master/lib/errors.js')
    include:marked ../../../generated/bitcore-ecies/lib/errors.md
