extends ../../_layouts/guides

append vars
  -var title = 'i-made-this | Tutorials';
  -var pageSlug = 'i-made-this';
  -var description = 'Build a desktop application to timestamp files into the bitcoin blockchain with Bitcore.';

block content
  include:marked i-made-this.md
