extends ../../_layouts/api

append vars
  -var section = 'service';
  -var title = 'Address Service';
  -var description = 'Overview of the Address Service for Bitcore.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/services/address.md')
    include:marked ../../../generated/bitcore-node/docs/services/address.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/services/address/index.js')
    include:marked ../../../generated/bitcore-node/lib/services/address/index.md
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/services/address/history.js')
    include:marked ../../../generated/bitcore-node/lib/services/address/history.md
