extends ../../_layouts/api

append vars
  -var title = 'Bitcoind Service';
  -var description = 'Overview of the Bitcoin Service for Bitcore.';

block docs
  include:marked ../../generated/bitcore-node/bitcore-node/docs/services/bitcoind.md
  
block lib
  .section
    include:marked ../../generated/bitcore-lib/lib/block/block.md
  .section
    include:marked ../../generated/bitcore-lib/lib/block/blockheader.md
  .section
    include:marked ../../generated/bitcore-lib/lib/block/merkleblock.md
