extends ../../_layouts/api

append vars
  -var section = 'service';
  -var title = 'Bitcoin Service';
  -var description = 'Overview of the Bitcoin Service for Bitcore.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/services/bitcoind.md')
    include:marked ../../../generated/bitcore-node/docs/services/bitcoind.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/services/bitcoind.js')
    include:marked ../../../generated/bitcore-node/lib/services/bitcoind.md
