extends ../../_layouts/api

append vars
  -var section = 'service';
  -var title = 'Database Service';
  -var description = 'Overview of the Database Service for Bitcore.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/services/db.md')
    include:marked ../../../generated/bitcore-node/docs/services/db.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/services/db.js')
    include:marked ../../../generated/bitcore-node/lib/services/db.md
