extends ../../_layouts/api

append vars
  -var section = 'service';
  -var title = 'Database Service';
  -var description = 'Overview of the Database Service for Bitcore.';

block docs
  .section.p-t-lg
    include:marked ../../../generated/bitcore-node/docs/services/db.md
  
block lib
  .section.p-t-lg
    include:marked ../../../generated/bitcore-node/lib/services/db.md
