extends ../../_layouts/api

append vars
  -var title = 'Overview';
  -var description = 'Overview of Bitcore\'s services architecture.';

block docs
  .section.p-t-lg
    include:marked ../../../generated/bitcore-node/docs/services.md
