extends ../../_layouts/api

append vars
  -var section = 'service';
  -var title = 'Overview';
  -var pageSlug = 'service';
  -var description = 'Overview of Bitcore\'s services architecture.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/services.md')
    include:marked ../../../generated/bitcore-node/docs/services.md
