extends ../../_layouts/api

append vars
  -var title = 'Web Service';
  -var description = 'Overview of the Web Service for Bitcore.';

block docs
  .section.p-t-lg
    include:marked ../../../generated/bitcore-node/docs/services/web.md
  
block lib
  .section.p-t-lg
    include:marked ../../../generated/bitcore-node/lib/services/web.md
