extends ../_layouts/two-column-fluid

block menu
  
  mixin item(name, slug)
    li.nav-item
      - if (typeof(pageSlug) !== 'undefined') {
        a(href="/api/#{slug}" class= pageSlug === slug ? "active" : undefined).nav-link #{name}
      - } else {
        a(href="/api/#{slug}" class= title === name ? "active" : undefined).nav-link #{name}
      - }  

  h3.menu-header.m-t-md Introduction
  ul.nav.nav-pills.nav-stacked
    +item('Get Started', '')
    +item('Build & Install', 'build')
    +item('Node Constructor', 'node')
    +item('Scaffold', 'scaffold')
    +item('Event Bus', 'bus')
    +item('Error Handling', 'errors')
    +item('Bitcoind Patch', 'patch')
    +item('Release Process', 'release')
    +item('Development & Testing', 'testing')

  h3.menu-header.m-t-md Services
  ul.nav.nav-pills.nav-stacked
    +item('Overview', 'service')
    +item('Bitcoin Service', 'service/bitcoin')
    +item('Database Service', 'service/database')
    +item('Address Service', 'service/address')
    +item('Web Service', 'service/web')

  h3.menu-header.m-t-md Bitcore Library
  ul.nav.nav-pills.nav-stacked
    +item('Address', 'lib/address')
    +item('Block', 'lib/block')
    +item('Crypto', 'lib/crypto')
    +item('Encoding', 'lib/encoding')
    +item('HD Keys', 'lib/hd-keys')
    +item('Networks', 'lib/networks')
    +item('Private Key', 'lib/private-key')
    +item('Public Key', 'lib/public-key')
    +item('Script', 'lib/script')
    +item('Transaction', 'lib/transaction')
    +item('Bitcoin Units', 'lib/unit')
    +item('Unspent Outputs', 'lib/unspent-output')
    +item('Bitcoin URIs', 'lib/uri')

  h3.menu-header.m-t-md Channels Module
  ul.nav.nav-pills.nav-stacked
    +item('Overview', 'channel')

  h3.menu-header.m-t-md ECIES Module
  ul.nav.nav-pills.nav-stacked
    +item('Overview', 'ecies')

  h3.menu-header.m-t-md Explorers Module
  ul.nav.nav-pills.nav-stacked
    +item('Overview', 'explorers')

  h3.menu-header.m-t-md Message Module
  ul.nav.nav-pills.nav-stacked
    +item('Overview', 'message')
    
  h3.menu-header.m-t-md Mnemonic Module
  ul.nav.nav-pills.nav-stacked
    +item('Overview', 'mnemonic')
    
  h3.menu-header.m-t-md Payment Protocol Module
  ul.nav.nav-pills.nav-stacked
    +item('Overview', 'paypro')
    
  h3.menu-header.m-t-md P2P Module
  ul.nav.nav-pills.nav-stacked
    +item('Overview', 'p2p')
    +item('Messages', 'p2p/messages')
    +item('Peer', 'p2p/peer')
    +item('Pool', 'p2p/pool')

block content
  .api-content
    .docs.bg-white
      .container
        block docs
    .lib.bg-dark
      .container
          block lib
