extends ../_layouts/two-column

block menu
  mixin item(name, slug)
    li.nav-item
      a(href="/guides/#{slug}").nav-link #{name}
  h3.menu-header Guides
  ul.nav.nav-pills.nav-stacked
    +item('Browser Builds', 'browser')

  h3.menu-header.m-t-md Tutorials
  ul.nav.nav-pills.nav-stacked
    +item('Satoshi Fire Alarm', '#')
    +item('Lemonade Stand', '#')
    +item('I made this', '#')
