extends ../_layouts/two-column

block menu
  h3.menu-header Bitcore
  mixin item(name, slug)
    li.nav-item
      a(href="/guides/#{slug}").nav-link #{name}
  ul.nav.nav-pills.nav-stacked
    +item('Browser Builds', 'browser')
