extends ../_layouts/two-column

append vars
  -var section = 'guides';

block menu

  mixin item(name, slug)
    li.nav-item
      - if (typeof(pageSlug) !== 'undefined') {
        a(href="/guides/#{slug}" class= pageSlug === slug ? "active" : undefined).nav-link #{name}
      - } else {
        a(href="/guides/#{slug}" class= title === name ? "active" : undefined).nav-link #{name}
      - }  

  h3.menu-header Guides
  ul.nav.nav-pills.nav-stacked
    +item('Run a Full Node', 'full-node')
    +item('Run Bitcore as a Daemon', 'upstart-daemon')
    +item('Run a Wallet Service', 'wallet-service')
    +item('Browser Builds', 'browser')

  h3.menu-header.m-t-md Tutorials
  ul.nav.nav-pills.nav-stacked
    +item('Service Development', 'service-development')
    +item('Satoshi Fire Alarm', 'satoshi-fire-alarm')
    +item('Lemonade Stand', 'lemonade-stand')
    +item('I Made This', 'i-made-this')
