extends ../_layouts/primary

append vars
  -bodyClass = 'white-bg';

block footer

block page
  .container
    .row
      .col-md-3
        block menu
              
      .col-md-9
        block content
