extends ../_layouts/primary

append vars
  -bodyClass = 'bg-white';

block footer

block page
  //- .bg-darker.p-y-lg
  //-   .container
  //-     .row
  //-       h1.color-white.header__bottom-border-left Guides & Tutorials
  //-       h4.color-white.opacity-70.m-y Get up and running fast with one of our guides or developer tutorials
  .container
    .row
      .col-md-12.col-lg-3.m-t-lg
        block menu
              
      .col-md-12.col-lg-9.m-t-lg.docs
        block content
