extends ../_layouts/primary

append vars

block footer

block body
  include ../_includes/top-nav-fluid
  
  .fixed-sidebar.bg-gray.border-right-grey
    block menu
  
  .scroll-content
      block content
