extends ../_layouts/primary

append vars
  -bodyClass = 'bg-white';

block footer

block page
  .container
    .row
      .col-md-3.m-t-lg
        block menu
              
      .col-md-9.m-t-lg
        block content
