extends ../_layouts/primary

append vars
  -bodyClass = 'bg-white';

block footer

block page
  .container
    .row
      .col-md-4.col-lg-3.m-t-lg
        block menu
              
      .col-md-8.col-lg-9.m-t-lg.docs
        block content
