// Variables
$sidebar-width:       280px;
$navbar-height:       62px;

// Layout
.fixed-sidebar {
  @include media-breakpoint-down(lg) {
    display: none;
  }
  bottom: 0;
  left: 0;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: $navbar-height;
  width: $sidebar-width;
}

.scroll-content {
  @include media-breakpoint-down(lg) {
    left: 0;
  }
  bottom: 0;
  left: $sidebar-width;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: $navbar-height;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
}


// Docs Section
.docs {
  a {
    font-weight: 600;
  }

  p {
    line-height: 1.8rem;
  }

  h2 {
    @extend.m-t-lg
  }

  pre {
    box-shadow: none;
  }

  img {
    // margin: 2em 0;
    max-width: 100%;
  }

  :not(pre)>code {
    background-color: $bc-grey;
    border: 1px solid $border;
    color: $bc-orange-dark;
    font-weight: 500;
    padding: .2em .6em;
    text-shadow: none;
  }
}


// API Reference
.lib {
  color: $white;

  a {
    font-weight: 500;
  }

  h3 {
    color: $bc-orange;
    font-family: $font-family-monospace, monospace;
    font-size: 1.25em;
    margin-top: 3.5em;
  }

  p {
    opacity: .9;
  }

  ul {
    border-left: 1px solid $border;
    color: $white;
    display: table;
    list-style: none;
  }

  code {
    background-color: $bc-darker;
    color: $bc-grey;
  }

  table {
    margin: 2em;

    th,
    td {
      border: 1px solid $black;
      padding: 1em;
    }

    thead {
      background-color: $bc-darker;
    }
  }

  pre {
    background-color: $bc-darker;
    color: $white;

    code {
      margin-left: 1em;
    }
  }



}
