.docs {
  h2 {
    @extend.m-t-lg
  }
}

.lib {
  color: $white;
  h3 {
    color: $bc-orange;
    font-family: monospace;
    font-size: 1.25em;
    margin-top: 3em;
  }
  p {
    opacity: 0.9;
  }
  ul {
    display: table;
    background-color: $bc-grey;
    color: $bc-dark;
    list-style: none;
    border-left: 1px solid $border;
    padding: 1.2em;
  }
  code {
    background-color: $bc-darker;
    color: $bc-grey;
  }
  table {
    margin: 2em;
    th, td {
       border: 1px solid black;
       padding: 1em;
    }
    thead {
      background-color: $bc-darker;
    }
  }
  pre {
    color: $white;
    background-color: $bc-darker;
    &:before {
        content: "Example";
        display: block;
        background-color: $bc-orange;
        margin-bottom: 1em;
    }
    code {
      margin-left: 1em;
    }
  }



}
