// utils

.background-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// fills

.white-bg {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
}


.grey-bg {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
}

.black-bg {
  background: #474747;
}
