// utils

.background-contain {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// fills

.bg-white {
  background: $white;
}


.bg-gray {
  background: $bc-grey;
}

.bg-dark {
  background: $bc-dark;
}

.bg-darker {
  background: $bc-darker;
}


.bg-orange {
  background-image: linear-gradient(0deg, #FCD665 0%, #F9B544 88%);
}
