.border-right-grey {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid $border;
  }
  border-width: 0;
}

.border-left-grey {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid $border;
  }
  border-width: 0;
}

.border-grey {
  border: 1px solid $border;
}

.border-vertical-grey {
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;
}

.border-top-grey {
  border-top: 1px solid $border;
}



// for the bottom centered border
.header__bottom-border,
.header__bottom-border-left {
  margin-bottom: 3rem;
  position: relative;&:after {
    background: $bc-orange;
    bottom: -1rem;
    content: '';
    height: 3px;
    position: absolute;
    width: 4rem;
  }
}

.header__bottom-border {
  &:after {
    left: calc(50% - 2rem);
  }
}

.header__bottom-border-left {
  &:after {
    left: 0;
  }
}
