@mixin addBorder($name, $value, $breakpoint) {
  @each $side in 'top', 'right', 'bottom', 'left' {
    .#{$breakpoint}border-#{$side}-#{$name} {
      border-#{$side}: #{$value};
    }
  }
  .#{$breakpoint}border-vertical-#{$name} {
    border-top: #{$value};
    border-bottom: #{$value};
  }
  .#{$breakpoint}border-horizontal-#{$name} {
    border-left: #{$value};
    border-right: #{$value};
  }
  .#{$breakpoint}border-#{$name} {
    border: #{$value};
  }
}
