.btn {
  padding: 0.75rem 1.5rem 0.78rem;
  border-radius: 5rem;
  border: 1px solid $blue-light;
  transition: background 0.2s;
  display: inline-block;
  line-height: 22px;
  &-blue-solid {
    background: $blue-light;
    &:hover {
      background: darken($blue-light, 5%);
    }
  }
  &-white-border {
    background: rgba(255,255,255,0.05);
    border: 1px solid $white;
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
  &-gray-medium-border {
    background: rgba(255,255,255,0.05);
    border: 1px solid $gray-medium;
    &:hover {;
      background: rgba(255,255,255,0.1);
    }
  }
  &-blue-border {
    background: rgba(255,255,255,0.05);
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
  &-green {
    background: #1ABC9C;
    border: 1px solid darken(#1ABC9C, 5%);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.5);
    letter-spacing: 1px;
    &:hover {
      background: #15A085;
    }
  }
  @media #{$small-only} {
    padding: 0.75rem 1.125rem;
  }
}

.btn-margin {
  margin: 0.5rem 1rem 0.5rem 0;
}

.grey-hover {
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}
