.hero-btns {
  border-radius: 5rem;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 22px;
  padding: .75rem 1.5rem .78rem;
  text-transform: uppercase;
  transition: background .2s;
}

.btn-primary {
  @extend.hero-btns;
}

.btn-secondary {
  @extend.hero-btns;
}

.btn-margin {
  margin: .5rem 1rem .5rem 0;
}
