// extend all the things
.section {
  @include media-breakpoint-up(md) {
    padding-bottom: $spacer-y * 6;
    padding-top: $spacer-y * 6;
  }
  padding-bottom: $spacer-y * 1.5;
  padding-top: $spacer-y * 1.5;
}

// Index
.project-logo {
  margin: 15px 30px;
  opacity: .5;
  position: relative;

  &:hover {
    opacity: .9;
  }
}

.bc-subscription {
  input {
    font-family: $font-family-monospace;
    height: 32px;
  }

  .button {
    background-color: $bc-grey;
    height: 32px;
    line-height: 1px;
  }
}

.home-logo {
  @include media-breakpoint-up(lg) {
    width: 150px;
  }
  width: 100px;
}




// Getting Started
.steps {
  padding-bottom: $spacer-y;
  padding-top: $spacer-y;
}

.card {
  background: $white;
  border: 1px solid $card-border-color;
  border-radius: 10px;
  box-shadow: 0 2px 0 0 $card-box-shadow-color;

  .card-block {
    border-top: 1px solid $card-border-color;
  }
}

.background-element {
  display: block;
  left: 0;
  margin: auto;
  max-width: 1400px;
  position: absolute;
  right: 0;
  width: 100%;
}

// This overrides the default spacing for bootstrap nav-pills
.nav-pills {
  .nav-link {
    border-radius: 2em;
    color: $bc-dark;
    display: inline-block;
    padding: .2em 1em;

    &.active {
      letter-spacing: 1px;
      margin-left: 1em;
    }
  }
}

.bring-to-front {
  position: relative;
  z-index: 1;
}
