// extend all the things
.section {
  @include media-breakpoint-up(md) {
    padding-bottom: $spacer-y * 6;
    padding-top: $spacer-y * 6;
  }
  padding-bottom: $spacer-y * 1.5;
  padding-top: $spacer-y * 1.5;
}

// Index
.project-logo {
  margin: 15px 30px;
  opacity: .5;
  position: relative;
  &:hover {
    opacity: .9;
  }
}

// Getting Started
.steps {
  padding-bottom: $spacer-y;
  padding-top: $spacer-y;
}

.card {
  background: $white;
  border: 1px solid $card-border-color;
  border-radius: 10px;
  box-shadow: 0 2px 0 0 $card-box-shadow-color;

  .card-block {
    border-top: 1px solid $card-border-color;
  }
}

// Layout
.menu-header {
  font-size: 1em;
  letter-spacing: 1px;
  margin-left: 2em;
  text-transform: uppercase;
  font-weight: 700;
}

// This overrides the default spacing for bootstrap nav-pills
.nav-pills {
  margin-top: 1em;
  .nav-link {
    color: $bc-dark;
    margin-left: 2em;
    padding: .1em 1em;
  }
  .nav-link.active {
    border-radius: 1em;
    display: inline-block;
    // margin-left: 2.75em;
    transition: 1ms;
  }
}


// API
.fixed-sidebar {
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 60px;
  position: fixed;
  width: 250px;
}

.scroll-content {
  padding-left: 250px;
  padding-top: 60px;
}
