// extend all the things

.section {
  padding-top: $spacer-y * 1.5;
  padding-bottom: $spacer-y * 1.5;
}

@include media-breakpoint-up(md) {
  .section {
    padding-top: $spacer-y * 6;
    padding-bottom: $spacer-y * 6;
  }
}


.hero {
  text-align: center;
  height: 100%;
  // this min-height should be the height of the isometric grid
  min-height: 694px;
  padding: 4em 0;
}




// Getting Started
.steps {
  padding-top: $spacer-y;
  padding-bottom: $spacer-y;
}

.card {
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-shadow: 0px 2px 0px 0px #D1D1D1;
  border-radius: 10px;
  .card-block {
    border-top: 1px solid #DCDCDC;
  }
}
