$highlighting-white: #f8f8f2;
$highlighting-gray: #708090;
$highlighting-black: #2f2f2f;
$highlighting-red: #f92672;
$highlighting-purple: #ae81ff;
$highlighting-yellow: #a6e22e;
$highlighting-lightyellow: #e6db74;
$highlighting-turquoise: #66d9ef;
$highlighting-orange: #fd971f;

$highlighting-text-shadow: rgba(0, 0, 0, .3);

code,
pre {
  color: $highlighting-white;
  direction: ltr;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  text-shadow: 0 1px $highlighting-text-shadow;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

// Code blocks
pre {
  border-radius: .3em;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
}

:not(pre) > code,
pre {
  background: $highlighting-black;
}

// Inline code
:not(pre) > code {
  border-radius: .3em;
  padding: .2em .5em;
}

.token {
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata {
    color: $highlighting-gray;
  }

  &.punctuation {
    color: $highlighting-white;
  }

  &.property,
  &.tag,
  &.constant,
  &.symbol,
  &.deleted {
    color: $highlighting-red;
  }

  &.boolean,
  &.number {
    color: $highlighting-purple;
  }

  &.selector,
  &.attr-name,
  &.string,
  &.char,
  &.builtin,
  &.inserted {
    color: $highlighting-yellow;
  }

  &.atrule,
  &.attr-value,
  &.function {
    color: $highlighting-lightyellow;
  }

  &.keyword {
    color: $highlighting-turquoise;
  }

  &.regex,
  &.important {
    color: $highlighting-orange;
  }

  &.important,
  &.bold {
    font-weight: bold;
  }

  &.italic {
    font-style: italic;
  }

  &.entity {
    cursor: help;
  }

  &.operator,
  &.entity,
  &.url,
  &.variable {
    @extend %low-importance-tokens;
  }
}


.language-css,
.style {
  .token {
    &.string {
      @extend %low-importance-tokens;
    }
  }
}

%low-importance-tokens {
  color: $highlighting-white;
}

.namespace {
  opacity: .7;
}
