// Please leave a comment when adding to this file!


// Instantclick is styled by targeting the ID selector.
#instantclick-bar {
  background: $instantclick-bar-color;
}

.fixed-sidebar {
  position: fixed;
  transform: translate3d(0px, 0px, 0px);
  left: 0px;
  height: 100%;
  overflow-y: scroll;
}
