// Please leave a comment when adding to this file!


// Instantclick is styled by targeting the ID selector.
#instantclick-bar {
  background: $instantclick-bar-color;
}






// This overrides the default spacing for bootstrap nav-pills
.nav-pills .nav-link {
  padding: 0.1em 1em;
  color: $bc-dark;
}
