$font-family-sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-monospace: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-headers: 'Titillium Web';


pre {
  background: $pre-background-color;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 $pre-box-shadow-color;
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-headers, sans-serif;
}

p {
  font-family: $font-family-sans-serif;
}

h4 {
  font-weight: 100;
  line-height: 1.5em;
}


a {
  color: $bc-orange-dark;

  &:hover {
    color: $bc-orange-dark;
    text-decoration: none;
  }
}

.cta-link {
  color: $bc-dark;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.orange-uppercase-link {
  color: $bc-orange-dark;
  font-family: $font-family-headers;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: .5em;
  text-transform: uppercase;
}

.menu-header {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.arrow-dark {
  &:after {
    background: url('/images/arrow-dark.svg');
    content: '';
    display: inline-block;
    height: 17px;
    margin-left: 14px;
    margin-right: -5px;
    position: relative;
    top: -3px;
    vertical-align: middle;
    width: 29px;
  }
}

.tutorial-number {
  align-items: center;
  border: 2px $bc-dark solid;
  border-radius: 2em;
  display: flex;
  float: left;
  font-size: 1.25em;
  height: 50px;
  justify-content: center;
  margin-bottom: 9em;
  margin-right: 1.25em;
  text-align: center;
  width: 50px;
}

.menu-text {
  font-size: .8em;
  letter-spacing: 2px;
  line-height: 2.25em;
  padding-left: 1em;
  text-transform: uppercase;
}
