@include elementToClass('h1');
@include elementToClass('h2');
@include elementToClass('h3');
@include elementToClass('h4');
@include elementToClass('h5');
@include elementToClass('h6');
@include elementToClass('small');

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.light {
  font-weight: 100;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.text-shadow {
  text-shadow: 1px 2px 0px rgba(0,0,0,0.50)
}

.text-shadow-less {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15)
}

p.lead {
  @media #{$small-only} {
    font-size: 1.11875rem;
  }
}

.mono {
  font-family: $font-family-monospace;
  font-size: 90%;
}

/* Need improve  */
.line-height-more {
  line-height: 2em;
}

/* Need improve  */
.line-height-less {
  line-height: 1em;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
