// generic classes

.fade {
  opacity: 0.5;
}

.fade-more {
  opacity: 0.75;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}
// breakpoint classes
// .breakpoint-class[-suffix]

$breakpoints: (
  'small-only': $small-only,
  'small': $small-up,
  'medium-only': $medium-only,
  'medium': $medium-up,
  'large-only': $large-only,
  'large': $large-up,
  'xlarge-only': $xlarge-only,
  'xlarge': $xlarge-up,
  'xxlarge-only': $xxlarge-only,
  'xxlarge': $xxlarge-up,
);

$suffixes: (
  '-none': 0,
  '-less': 1em,
  ''     : 2em,
  '-more': 3em,
  '-most': 6em
);

@mixin breakpointedUtils($breakpoint){
  @each $suffix, $val in $suffixes {
    @each $property in 'padding', 'margin' {
      @each $side in 'top', 'right', 'bottom', 'left' {
        .#{$breakpoint}#{$property}-#{$side}#{$suffix}{
          #{$property}-#{$side}: #{$val};
        }
      }
      .#{$breakpoint}#{$property}-vertical#{$suffix}{
        #{$property}-top: #{$val};
        #{$property}-bottom: #{$val};
      }
      .#{$breakpoint}#{$property}-horizontal#{$suffix}{
        #{$property}-left: #{$val};
        #{$property}-right: #{$val};
      }
      .#{$breakpoint}#{$property}#{$suffix}{
        #{$property}: #{$val};
      }
    }
  }
  .#{$breakpoint}float-left{
    float: left !important;
  }
  .#{$breakpoint}float-right{
    float: right !important;
  }

  @include addBorder('gray', (1px solid $gray-light), $breakpoint);
  @include addBorder('light', (1px solid rgba(255,255,255,0.1)), $breakpoint);
}

@include breakpointedUtils(null);
@each $breakpoint, $settings in $breakpoints {
  @media #{$settings} {
     @include breakpointedUtils($breakpoint + '-');
  }
}

.selectable {
  user-select: all;
}

.unselectable {
  user-select: none;
}

.only-text-selectable {
  user-select: text;
}

.radius {
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}
