.width-100 {
  width: 100%;
}

.opacity-70 {
  opacity: .7;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.vertical-align {
  align-items: center;
  display: flex;
}

.bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.no-bullets {
  list-style: none;
}
