// variables

// colors

$white:       #fff;
$border:      #e6e6e6;

$bc-dark:    #5b5b5b;
$bc-darker:  #4a4a4a;
$bc-orange:   #f9b544;
$bc-grey:     #f9f9f9;


$selection-color: #ebebff;
$instantclick-bar-color: $bc-orange;

$card-border-color: #dcdcdc;
$card-box-shadow-color: #d1d1d1;

$pre-background-color: #f9f9f9;
$pre-box-shadow-color: #eae9e9;

// Bootstrap Overrides
$body-bg:                   $bc-darker;
$brand-primary:             $bc-orange;
$body-color:                $bc-darker;


$input-bg:                  #fff;
