// variables

$selection-color: #ebebff;
$instantclick-bar-color: #4683e8;


// bitcore colors


$white:       #ffffff;
$border:      #E6E6E6;

$bc-black:    #4A4A4A;
$bc-orange:   #F9B544;
$bc-grey:     #F9F9F9;
