extends ../../_layouts/guides

append vars
  -var title = 'Run Bitcoin for Bitcore';
  -var pageSlug = 'bitcoin';
  -var description = 'Set up and run Bitcoin for Bitcore.';

block content
  include:marked bitcoin.md
