extends ../../_layouts/guides

append vars
  -var title = 'Run a Bitcoin Node';
  -var pageSlug = 'full-node';
  -var description = 'Set up and run a full Bitcoin Node with Bitcore.';

block content
  include:marked full-node.md
