extends ../_layouts/api

append vars
  -var title = 'Address';
  -var description = 'A simple interface to generate and validate a bitcoin address.';

block docs
  .section
    include:marked ../../generated/bitcore/docs/address.md
  
block lib
  .section.p-t-lg
    include:marked ../../generated/bitcore/lib/address.md
