extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Build & Install';
  -var description = 'Instructions for building and installing Bitcore from source.';

block docs
  .section.p-t-md
    include:marked ../../generated/bitcore-node/docs/build.md
