extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Event Bus';
  -var description = 'An event emitter for Bitcore node events.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/bus.md')
    include:marked ../../generated/bitcore-node/docs/bus.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/bus.js')
    include:marked ../../generated/bitcore-node/lib/bus.md
