extends ../_layouts/api

append vars
  -var title = 'Event Bus';
  -var description = 'An event emitter for Bitcore node events.';

block docs
  .section.p-t-md
    include:marked ../../generated/bitcore-node/docs/bus.md
  
block lib
  .section.p-t-md
    include:marked ../../generated/bitcore-node/lib/bus.md
