extends ../_layouts/api

append vars
  -var title = 'Crypto';
  -var description = 'Primitives and tools to deal with bitcoin cryptography.';

block docs
  include:marked ../../generated/bitcore-lib/docs/crypto.md
  
block lib
  include:marked ../../generated/bitcore-lib/lib/crypto/bn.md
  include:marked ../../generated/bitcore-lib/lib/crypto/ecdsa.md
  include:marked ../../generated/bitcore-lib/lib/crypto/hash.md
  include:marked ../../generated/bitcore-lib/lib/crypto/point.md
  include:marked ../../generated/bitcore-lib/lib/crypto/random.md
  include:marked ../../generated/bitcore-lib/lib/crypto/signature.md
