extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Setting up a Development Environment';
  -var pageSlug = 'development';
  -var description = 'A guide for setting up a bitcore development environement';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/development.md')
    include:marked ../../generated/bitcore-node/docs/development.md
