extends ../_layouts/api

append vars
  -var title = 'Encoding';
  -var description = 'Utilities for encoding information in bitcoin standard formats.';

block docs
  include:marked ../../generated/bitcore/docs/encoding.md

block lib
  include:marked ../../generated/bitcore/lib/encoding/base58.md
  include:marked ../../generated/bitcore/lib/encoding/base58check.md
  include:marked ../../generated/bitcore/lib/encoding/bufferreader.md
  include:marked ../../generated/bitcore/lib/encoding/bufferwriter.md
  include:marked ../../generated/bitcore/lib/encoding/varint.md
