extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Error Handling';
  -var description = 'Error handling in Bitcore.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/errors.md')
    include:marked ../../generated/bitcore-node/docs/errors.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/errors.js')
    include:marked ../../generated/bitcore-node/lib/errors.md
