extends ../_layouts/api

append vars
  -var title = 'Error Handling';
  -var description = 'Error handling in Bitcore.';

block docs
  .section.p-t-md
    include:marked ../../generated/bitcore-node/docs/errors.md
  
block lib
  .section.p-t-md
    include:marked ../../generated/bitcore-node/lib/errors.md
