extends ../_layouts/api

append vars
  -var title = 'HD Keys';
  -var description = 'Create and derive extended public and private keys according to the BIP32 standard for Hierarchical Deterministic (HD) keys.';

block docs
  include:marked ../../generated/bitcore-lib/docs/hierarchical.md

block lib
  include:marked ../../generated/bitcore-lib/lib/hdkeycache.md
  include:marked ../../generated/bitcore-lib/lib/hdprivatekey.md
  include:marked ../../generated/bitcore-lib/lib/hdpublickey.md
