extends ../_layouts/api

block content
  .api-content
    .docs.bg-white
      .container
        h1 API Documentation
        p.lead This is the description.
        include:marked ../../generated/bitcore-lib/docs/examples.md
