extends ../_layouts/api

append vars
  -var section = 'intro';
  -var title = 'Overview';
  -var description = 'Full API Documentation for the Bitcore platform, an open source bitcoin stack.';
  
append docs
  +docMarkdown('https://github.com/bitpay/bitcore/edit/master/README.md')
    include:marked ../../generated/bitcore/README.md 
