extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Node Constructor';
  -var description = 'A collection of services that are loaded together.';

block docs
  .section.p-t-md
    include:marked ../../generated/bitcore-node/docs/node.md
  
block lib
  .section.p-t-md
    include:marked ../../generated/bitcore-node/lib/node.md
