extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Node Constructor';
  -var pageSlug = 'node-constructor';
  -var description = 'A collection of services that are loaded together.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/node.md')
    include:marked ../../generated/bitcore-node/docs/node.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/node.js')
    include:marked ../../generated/bitcore-node/lib/node.md
