extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Node Constructor';
  -var pageSlug = 'node';
  -var description = 'A collection of services that are loaded together.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/README.md')
    include:marked ../../generated/bitcore-node/README.md
