extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Bitcoind Patch';
  -var description = 'Description of the patch applied to Bitcoin Core to compile as a static library.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/patch.md')
    include:marked ../../generated/bitcore-node/docs/patch.md
