extends ../_layouts/api

append vars
  -var title = 'Private Key';
  -var description = 'A simple interface to generate, import, and handle private keys.';

block docs
    .section.p-t-md
      include:marked ../../generated/bitcore-lib/docs/privatekey.md

block lib
    .section.p-t-md
      include:marked ../../generated/bitcore-lib/lib/privatekey.md
