extends ../_layouts/api

append vars
  -var title = 'Private Key';
  -var description = 'A simple interface to generate, import, and handle private keys.';

block docs
  .section
    include:marked ../../generated/bitcore/docs/privatekey.md

block lib
  include:marked ../../generated/bitcore/lib/privatekey.md
