extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Release Process';
  -var description = 'Explanation of Bitcore release and signature verification process.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/release.md')
    include:marked ../../generated/bitcore-node/docs/release.md
