extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Scaffold';
  -var description = 'A collection of functions for creating, managing, starting, stopping and interacting with a Bitcore node.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/scaffold.md')
    include:marked ../../generated/bitcore-node/docs/scaffold.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/scaffold/add.js')
    include:marked ../../generated/bitcore-node/lib/scaffold/add.md
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/scaffold/create.js')
    include:marked ../../generated/bitcore-node/lib/scaffold/create.md
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/scaffold/start.js')
    include:marked ../../generated/bitcore-node/lib/scaffold/start.md
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/scaffold/find-config.js')
    include:marked ../../generated/bitcore-node/lib/scaffold/find-config.md
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/scaffold/default-config.js')
    include:marked ../../generated/bitcore-node/lib/scaffold/default-config.md
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/scaffold/remove.js')
    include:marked ../../generated/bitcore-node/lib/scaffold/remove.md
  +libMarkdown('https://github.com/bitpay/bitcore-node/blob/master/lib/scaffold/call-method.js')
    include:marked ../../generated/bitcore-node/lib/scaffold/call-method.md
