extends ../_layouts/api

append vars
  -var title = 'Script';
  -var description = 'A powerful interface to create, parse, and validate bitcoin scripts.';

block docs
  .section
    include:marked ../../generated/bitcore/docs/script.md

block lib
  include:marked ../../generated/bitcore/lib/script/interpreter.md
  include:marked ../../generated/bitcore/lib/script/script.md
