extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Development & Testing';
  -var description = 'Notes for developing and debugging Bitcore.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/testing.md')
    include:marked ../../generated/bitcore-node/docs/testing.md
