extends ../_layouts/api

append vars
  -var title = 'Transaction';
  -var description = 'A robust interface to create, parse and validate bitcoin transactions.';

block docs
  .section
    include:marked ../../generated/bitcore/docs/transaction.md

block lib
  include:marked ../../generated/bitcore/lib/transaction/input/index.md
  include:marked ../../generated/bitcore/lib/transaction/input/input.md
  include:marked ../../generated/bitcore/lib/transaction/input/multisigscripthash.md
  include:marked ../../generated/bitcore/lib/transaction/input/publickey.md
  include:marked ../../generated/bitcore/lib/transaction/input/publickeyhash.md
  include:marked ../../generated/bitcore/lib/transaction/index.md
  include:marked ../../generated/bitcore/lib/transaction/output.md
  include:marked ../../generated/bitcore/lib/transaction/sighash.md
  include:marked ../../generated/bitcore/lib/transaction/signature.md
  include:marked ../../generated/bitcore/lib/transaction/transaction.md
