extends ../_layouts/api

append vars
  -var title = 'Bitcoin Units';
  -var description = 'Utility to easily convert between bitcoin units.';

block docs
  include:marked ../../generated/bitcore/docs/unit.md

block lib
  include:marked ../../generated/bitcore/lib/unit.md
