extends ../_layouts/api

append vars
  -var title = 'Bitcoin Units';
  -var description = 'Utility to easily convert between bitcoin units.';

block docs
    .section.p-t-md
      include:marked ../../generated/bitcore-lib/docs/unit.md

block lib
    .section.p-t-md
      include:marked ../../generated/bitcore-lib/lib/unit.md
