extends ../_layouts/api

append vars
  -var title = 'Unspent Outputs';
  -var description = 'A stateless model to represent an unspent output and associated information.';

block docs
    .section.p-t-md
      include:marked ../../generated/bitcore-lib/docs/unspentoutput.md

block lib
    .section.p-t-md
      include:marked ../../generated/bitcore-lib/lib/transaction/unspentoutput.md
