extends ../_layouts/api

append vars
  -var title = 'UnspentOutput';
  -var description = 'A stateless model to represent an unspent output and associated information.';

block docs
  .section
    include:marked ../../generated/bitcore/docs/unspentoutput.md

block lib
  include:marked ../../generated/bitcore/lib/transaction/unspentoutput.md
