extends ../_layouts/api

append vars
  -var section = 'node';
  -var title = 'Upgrade Notes';
  -var pageSlug = 'upgrade';
  -var description = 'A guide for upgrading Bitcore';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-node/edit/master/docs/upgrade.md')
    include:marked ../../generated/bitcore-node/docs/upgrade.md
