extends ../_layouts/api

append vars
  -var title = 'Bitcoin URIs';
  -var description = 'Utility to parse and create standard bitcoin URIs.';

block docs
  include:marked ../../generated/bitcore/docs/uri.md

block lib
  include:marked ../../generated/bitcore/lib/uri.md
