extends ../../_layouts/api

append vars
  -var title = 'Peer-to-Peer Networking';
  -var pageSlug = 'p2p';
  -var description = 'Peer-to-Peer Networking Capabilities for Bitcore.';

block docs
  .section.p-t-lg
    include:marked ../../../generated/bitcore-p2p/docs/index.md

block lib
  .section.p-t-lg
    include:marked ../../../generated/bitcore-p2p/lib/index.md
  .section.p-t-lg
    include:marked ../../../generated/bitcore-p2p/lib/buffers.md
  .section.p-t-lg
    include:marked ../../../generated/bitcore-p2p/lib/bloomfilter.md
  .section.p-t-lg
    include:marked ../../../generated/bitcore-p2p/lib/errors.md
