extends ../../_layouts/api

append vars
  -var section = 'p2p';
  -var title = 'Messages';
  -var description = 'A superclass for the messages of the bitcoin network.';

  append docs
    +docMarkdown('https://github.com/bitpay/bitcore-p2p/edit/master/docs/messages.md')
      include:marked ../../../generated/bitcore-p2p/docs/messages.md

  append lib
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/index.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/index.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/builder.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/builder.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/message.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/message.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/utils.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/utils.md

    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/addr.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/addr.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/alert.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/alert.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/block.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/block.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/filteradd.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/filteradd.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/filterclear.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/filterclear.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/filterload.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/filterload.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/getaddr.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/getaddr.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/getblocks.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/getblocks.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/getdata.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/getdata.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/getheaders.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/getheaders.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/headers.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/headers.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/inv.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/inv.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/mempool.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/mempool.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/merkleblock.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/merkleblock.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/notfound.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/notfound.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/ping.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/ping.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/pong.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/pong.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/reject.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/reject.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/tx.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/tx.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/verack.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/verack.md
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/messages/commands/version.js')
      include:marked ../../../generated/bitcore-p2p/lib/messages/commands/version.md
      
    +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/inventory.js')
      include:marked ../../../generated/bitcore-p2p/lib/inventory.md
