extends ../../_layouts/api

append vars
  -var section = 'p2p';
  -var title = 'Peer';
  -var description = 'The Peer class provides a simple interface for connecting to a node in the bitcoin network.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-p2p/edit/master/docs/peer.md')
    include:marked ../../../generated/bitcore-p2p/docs/peer.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/peer.js')
    include:marked ../../../generated/bitcore-p2p/lib/peer.md
