extends ../../_layouts/api

append vars
  -var title = 'Peer';
  -var description = 'The Peer class provides a simple interface for connecting to a node in the bitcoin network.';

block docs
  .section.p-t-lg
    include:marked ../../../generated/bitcore-p2p/docs/peer.md

block lib
  .section.p-t-lg
    include:marked ../../../generated/bitcore-p2p/lib/peer.md
