extends ../../_layouts/api

append vars
  -var section = 'p2p';
  -var title = 'Pool';
  -var description = 'A simple interface to create and maintain a set of connections to bitcoin nodes.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-p2p/edit/master/docs/pool.md')
    include:marked ../../../generated/bitcore-p2p/docs/pool.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-p2p/blob/master/lib/pool.js')
    include:marked ../../../generated/bitcore-p2p/lib/pool.md
