extends ../../_layouts/guides

append vars
  -var title = 'Service Development | Tutorials';
  -var pageSlug = 'service-development';
  -var description = 'Getting started with developing a service.';

block content
  include:marked service-development.md
