extends ../../_layouts/guides

append vars
  -var title = 'Wallet Service | Tutorials';
  -var pageSlug = 'wallet-service';
  -var description = 'Run a wallet service for Copay with Bitcore.';

block content
  include:marked wallet-service.md
