extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Address';
  -var description = 'A simple interface to generate and validate a bitcoin address.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/address.md')
    include:marked ../../../generated/bitcore-lib/docs/address.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/address.js')
    include:marked ../../../generated/bitcore-lib/lib/address.md
