extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Block';
  -var description = 'A simple interface to parse and validate a bitcoin blocks.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/block.md')
    include:marked ../../../generated/bitcore-lib/docs/block.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/block/block.js')
    include:marked ../../../generated/bitcore-lib/lib/block/block.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/block/blockheader.js')
    include:marked ../../../generated/bitcore-lib/lib/block/blockheader.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/block/merkleblock.js')
    include:marked ../../../generated/bitcore-lib/lib/block/merkleblock.md
