extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Block';
  -var description = 'A simple interface to parse and validate a bitcoin blocks.';

block docs
  .section.p-t-md
    include:marked ../../../generated/bitcore-lib/docs/block.md

  
block lib
  .section.p-t-md
    include:marked ../../../generated/bitcore-lib/lib/block/block.md
  .section.p-t-md
    include:marked ../../../generated/bitcore-lib/lib/block/blockheader.md
  .section.p-t-md
    include:marked ../../../generated/bitcore-lib/lib/block/merkleblock.md
