extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Crypto';
  -var description = 'Primitives and tools to deal with bitcoin cryptography.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/crypto.md')
    include:marked ../../../generated/bitcore-lib/docs/crypto.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/crypto/bn.js')
    include:marked ../../../generated/bitcore-lib/lib/crypto/bn.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/crypto/ecdsa.js')
    include:marked ../../../generated/bitcore-lib/lib/crypto/ecdsa.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/crypto/hash.js')
    include:marked ../../../generated/bitcore-lib/lib/crypto/hash.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/crypto/point.js')
    include:marked ../../../generated/bitcore-lib/lib/crypto/point.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/crypto/random.js')
    include:marked ../../../generated/bitcore-lib/lib/crypto/random.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/crypto/signature.js')
    include:marked ../../../generated/bitcore-lib/lib/crypto/signature.md
