extends ../../_layouts/api

append vars
  -var title = 'Encoding';
  -var description = 'Utilities for encoding information in bitcoin standard formats.';

block docs
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/docs/encoding.md

block lib
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/encoding/base58.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/encoding/base58check.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/encoding/bufferreader.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/encoding/bufferwriter.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/encoding/varint.md
