extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'HD Keys';
  -var description = 'Create and derive extended public and private keys according to the BIP32 standard for Hierarchical Deterministic (HD) keys.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/hierarchical.md')
    include:marked ../../../generated/bitcore-lib/docs/hierarchical.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/hdkeycache.js')
    include:marked ../../../generated/bitcore-lib/lib/hdkeycache.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/hdprivatekey.js')
    include:marked ../../../generated/bitcore-lib/lib/hdprivatekey.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/hdpublickey.js')
    include:marked ../../../generated/bitcore-lib/lib/hdpublickey.md
