extends ../../_layouts/api

append vars
  -var title = 'HD Keys';
  -var description = 'Create and derive extended public and private keys according to the BIP32 standard for Hierarchical Deterministic (HD) keys.';

block docs
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/docs/hierarchical.md


block lib
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/hdkeycache.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/hdprivatekey.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/hdpublickey.md
