extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Overview';
  -var pageSlug = 'lib';
  -var description = 'A pure and powerful JavaScript Bitcoin library.';
  
append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/README.md')
    include:marked ../../../generated/bitcore-lib/README.md
