extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Networks';
  -var description = 'A simple interface to handle livenet and testnet bitcoin networks.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/networks.md')
    include:marked ../../../generated/bitcore-lib/docs/networks.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/networks.js')
    include:marked ../../../generated/bitcore-lib/lib/networks.md
