extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Private Key';
  -var description = 'A simple interface to generate, import, and handle private keys.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/privatekey.md')
    include:marked ../../../generated/bitcore-lib/docs/privatekey.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/privatekey.js')
    include:marked ../../../generated/bitcore-lib/lib/privatekey.md
