extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Public Key';
  -var description = 'A simple interface for handling private keys.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/publickey.md')
    include:marked ../../../generated/bitcore-lib/docs/publickey.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/publickey.js')
    include:marked ../../../generated/bitcore-lib/lib/publickey.md
