extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Script';
  -var description = 'A powerful interface to create, parse, and validate bitcoin scripts.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/script.md')
    include:marked ../../../generated/bitcore-lib/docs/script.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/script/interpreter.js')
    include:marked ../../../generated/bitcore-lib/lib/script/interpreter.md
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/script/script.js')
    include:marked ../../../generated/bitcore-lib/lib/script/script.md
