extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Transaction';
  -var description = 'A robust interface to create, parse and validate bitcoin transactions.';

block docs
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/docs/transaction.md

block lib
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/input/index.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/input/input.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/input/multisigscripthash.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/input/publickey.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/input/publickeyhash.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/index.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/output.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/sighash.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/signature.md
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/transaction/transaction.md
