extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Bitcoin Units';
  -var description = 'Utility to easily convert between bitcoin units.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-lib/edit/master/docs/unit.md')
    include:marked ../../../generated/bitcore-lib/docs/unit.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-lib/blob/master/lib/unit.js')
    include:marked ../../../generated/bitcore-lib/lib/unit.md
