extends ../../_layouts/api

append vars
  -var section = 'lib';
  -var title = 'Bitcoin URIs';
  -var description = 'Utility to parse and create standard bitcoin URIs.';

block docs
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/docs/uri.md

block lib
    .section.p-t-md
      include:marked ../../../generated/bitcore-lib/lib/uri.md
