extends ../../_layouts/api

append vars
  -var section = 'modules';
  -var title = 'Overview';
  -var pageSlug = 'paypro';
  -var description = 'A powerful interface for serialize, deserialize, sign and verify payment protocol messsages.';

block docs
  .section.p-t-lg
    include:marked ../../../generated/bitcore-payment-protocol/docs/index.md

block lib
  .section.p-t-lg
    include:marked ../../../generated/bitcore-payment-protocol/lib/index.md
  .section.p-t-lg
    include:marked ../../../generated/bitcore-payment-protocol/lib/browser.md
  .section.p-t-lg
    include:marked ../../../generated/bitcore-payment-protocol/lib/common.md
  .section.p-t-lg
    include:marked ../../../generated/bitcore-payment-protocol/lib/rootcerts.md
  .section.p-t-lg
    include:marked ../../../generated/bitcore-payment-protocol/lib/errors.md
