extends ../../_layouts/guides

append vars
  -var title = 'satoshi-fire-alarm | Tutorials';
  -var pageSlug = 'satoshi-fire-alarm';
  -var description = 'Monitor certain bitcoin addresses and trigger a notification when they spend bitcoin.';

block content
  include:marked satoshi-fire-alarm.md
