extends ../../_layouts/api

append vars
  -var section = 'modules';
  -var title = 'Overview';
  -var pageSlug = 'mnemonic';
  -var description = 'A simple interface to generate mnemonic codes and deterministic keys.';

append docs
  +docMarkdown('https://github.com/bitpay/bitcore-mnemonic/edit/master/docs/index.md')
    include:marked ../../../generated/bitcore-mnemonic/docs/index.md

append lib
  +libMarkdown('https://github.com/bitpay/bitcore-mnemonic/blob/master/lib/mnemonic.js')
    include:marked ../../../generated/bitcore-mnemonic/lib/mnemonic.md
  +libMarkdown('https://github.com/bitpay/bitcore-mnemonic/blob/master/lib/pbkdf2.js')
    include:marked ../../../generated/bitcore-mnemonic/lib/pbkdf2.md
  +libMarkdown('https://github.com/bitpay/bitcore-mnemonic/blob/master/lib/errors.js')
    include:marked ../../../generated/bitcore-mnemonic/lib/errors.md
