@for $i from 1 through 24 {
  .delay-#{$i} {
    animation-delay: $i * 300ms;
  }
}

%animation {
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
@mixin animation-class($name) {
  .#{$name} {
    @extend %animation;
    animation-name: #{$name};
  }
}
@include animation-class('fade-in');
@include animation-class('fade-in-up');
@include animation-class('fade-in-right');
@include animation-class('fade-in-down');
@include animation-class('fade-in-left');
$animation-distance: 1rem;

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-$animation-distance);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-$animation-distance);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX($animation-distance);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY($animation-distance);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pop {
  0% {
    transform: scale(.1);
  }

  30%,
  70% {
    transform: scale(1.3, 1.24);
  }

  50%,
  90% {
    transform: scale(.8, .9);
  }

  100% {
    transform: scale(1);
  }
}
