extends ../../_layouts/guides

append vars
  -var title = 'Run Bitcore with Upstart';
  -var pageSlug = 'upstart-daemon';
  -var description = 'Run Bitcore as a daemon with upstart.';

block content
  include:marked upstart-daemon.md
