extends _layouts/primary

block page
  .color-white.center.text-center.p-a-lg
    h1(style="font-size: 6em") 404
    h2 Sorry, that page doesn't exist.
    a(href="/").btn.btn-link.m-a-lg Continue to Home
