extends _layouts/primary

append vars
  -var title = 'Bitcoin for Bitcore';
  -var section = 'bitcoin';
  -var description = 'Download and Install the Bitcore Build';

block page
  .bg-orange.p-t-lg.p-b-md
    .container
      .row
        .col-sm-12.col-lg-8
          .m-b-md
            h1.color-white Download Bitcoin
            h4.color-white.m-y Get the Bitcore Build, available for Linux and Mac OS X
            p.color-white.m-y This build of the Bitcoin software includes address indexes for wallet development with Bitcore, and each build is verified and signed by both project maintainers and community members.
            .m-t-sm#[a(href="https://github.com/bitpay/bitcoin/tree/0.12.1-bitcore" target="_new" style="color: #ffffff") View latest Commit on Github]
        .col-sm-12.col-md-6.col-lg-4
          .card.binary-card
            .card-header.text-center
              p.m-b-0 Binaries
            .card-block.p-md
              .row.m-b-md
                .col-md-2.col-xs-2
                  img(src='/images/logos/linux.svg', alt='linux').width-100
                .col-md-10.col-xs-10
                  h6.m-b-0 Linux (64-bit)
                  a(href="https://github.com/bitpay/bitcoin/releases/download/v0.12.1-bitcore/bitcoin-0.12.1-linux64.tar.gz") Download (tgz)
              .row.m-b-md
                .col-md-2.col-xs-2
                  img(src='/images/logos/linux.svg', alt='linux').width-100
                .col-md-10.col-xs-10
                  h6.m-b-0 Linux (32-bit)
                  a(href="https://github.com/bitpay/bitcoin/releases/download/v0.12.1-bitcore/bitcoin-0.12.1-linux32.tar.gz") Download (tgz)
              .row.m-b-md
                .col-md-2.col-xs-2
                  img(src='/images/logos/apple.svg', alt='apple').width-100
                .col-md-10.col-xs-10
                  h6.m-b-0 Mac OS X
                  a(href="https://github.com/bitpay/bitcoin/releases/download/v0.12.1-bitcore/bitcoin-0.12.1-osx64.tar.gz") Download (tgz)

  .bg-white.p-y-0
    .container
      .col-lg-6.border-right-grey.p-t-lg
        p HOW TO:
        h4 Make Address API Calls
        p There are several new JSON-RPC methods for querying txids, balances and unspent outputs for an address or addresses.
        .steps
          p.step-line-height Please see #[a(href="/guides/bitcoin#new-rpc-methods-and-updates" class="bold color-orange-dark") New RPC Methods and Updates] for more information.
      .col-lg-6.p-t-lg
        p HOW TO:
        h4 Download, Verify & Sign
        p When you download the bitcoin software, you will want to learn to verify that the hashes are the same with a trusted source.
        .steps
          p.step-line-height Please see #[a(href="/guides/bitcoin#download-verify" class="bold color-orange-dark") Download & Verify] for more information.



  .bg-gray.p-y-lg.border-vertical-grey
    .container
        .col-md-6.p-r-lg.border-right-grey
          a(href="/guides").cta-link.bold.m-b.arrow-dark Guides
          p.m-t Learn more about Bitcore with one of our guides or Bitcore development tutorials.
        .col-md-6.p-l-lg.p-l-lt-lg
          a(href="/api").cta-link.bold.m-b.arrow-dark Documentation
          p.m-t Dive into the full API documentation. Bitcore provides an extensive blockchain API right out of the box, and can be extended with dozens of modules and services.
