extends _layouts/primary

block page
  .section.black-bg.p-b-0
    .container
      .row
        .col-lg-6
          .m-b-lg
            h1.white Getting Started
            h4.white.opacity-70.m-y Spin up a node on the bitcoin network.
          p.white Bitcore is kind of like express but for bitcoin servers. Each bitcoin node will be full capable of monitoring the network, making transactions, and storing the blockchain..
        .col-lg-6
          img.width-100(src="/images/icosahedron-spheres.png")
  
  .section.white-bg
    .container
      .row.steps
        .col-lg-6
          h4 Install Bitcore
          p First install bitcore and then do some stuff
        .col-lg-6
          pre npm install -g bitcore

      .row.steps
        .col-lg-6
          h4 Create a node
          p We are going to create a bitcore node here and call it mynode
        .col-lg-6
          pre bitcore create mynode <br />cd mynode
          
      .row.steps
        .col-lg-6
          h4 Add a service
          p Install both the insight UI and the insight API full featured block exploreres.
        .col-lg-6
          pre bitcore add insight-api insight-ui

      .row.steps
        .col-lg-6
          h4 Start your node
          p First install bitcore and the do some stuff.
        .col-lg-6
          pre bitcore start



  .section.white-bg
    .container
      .row.m-y-lg
        h2.text-center Tutorials & Next Steps
        p.text-center We’ve provided a few example projects for you depending on the direction your heading in. 
      .row
        .col-lg-4
          .card
            img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
            .card-block
              h4.card-title Satoshi Fire Alarm
              p.card-text Learn how to interact with hardware functionallity 

        .col-lg-4
          .card
            img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
            .card-block
              h4.card-title Lemonade Stand
              p.card-text Learn how to build an online vendor that sells lemonade.

        .col-lg-4
          .card
            img.card-img-top.width-100(src='/images/card-placeholder.png', alt='Card image cap')
            .card-block
              h4.card-title I made this
              p.card-text Learn how to tie specific information and embed it in the blockchain.


  .grey-bg.p-y-lg
    .container
        .col-sm-6.p-r-lg.border-right-grey
          h5.m-b Documentation
          p Learn the basics of bitcoin, bitcore node, common use cases, and learn how to package your app for distribution
        .col-sm-6.p-l-lg
          h5.m-b API Reference
          p Go deep with the full API documentation. You should have this pulled up.

    
  
    
    
    
    
