extends _layouts/primary

block body
  
  .background-element.grid-fade-in.text-center(style="background: url('/images/shadow-grid.png') no-repeat center; height:500px; width:100%")
  .hero.bg-white
    .container.hero-container
      .row
        .col-sm-12
          ul.nav.navbar-nav.space-between.hero-links.hidden-xs-down
            li.nav-item.fade-in-delayed
              a.nav-link(href="/start") Start
            li.nav-item.fade-in-delayed
              a.nav-link(href="/guides") Guides
            li.nav-item.fade-in-delayed
              a.nav-link(href="/api") Docs
            li.nav-item.fade-in-delayed
              a.nav-link(href="/playground") Playground
            li.nav-item.fade-in-delayed
              a.nav-link(href="http://forum.bitcore.io/") Forum
          img(src="/images/home-logo.png").m-t-lg.m-b.fade-in-down.home-logo
          h6.m-b-md.fade-in-up v3.0.0
          h4.m-b-md.fade-in-delayed A powerful, modular node for bitcoin and blockchain-based apps.
          .m-b-lg-lt-lg
            a(href="/start").btn.btn-primary.fade-in-delayed.btn-margin Get Started
            a(href="/api").btn.btn-secondary.fade-in-delayed.btn-margin Documentation


  .bg-darker.p-y-md.subscribe-bar
    .container
      .row
        .col-lg-4.col-lg-offset-2.col-md-6.hidden-sm-down
          iframe.pull-right.hidden-xs-down(src="https://ghbtns.com/github-btn.html?user=bitpay&repo=bitcore&type=fork&count=true&size=large&count=true" frameborder="0" scrolling="0" width="132px" height="30px")
          iframe.pull-right.hidden-xs-down(src="https://ghbtns.com/github-btn.html?user=bitpay&repo=bitcore&type=star&count=true&size=large&count=true" frameborder="0" scrolling="0" width="150px" height="30px")
        .col-lg-4.col-md-6.col-xs-12.bc-subscription.input-group
          form.validate(action='//bitcore.us7.list-manage.com/subscribe/post?u=29605d300e62d91f5e2520c67&id=c3d06574f5', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            div.bc-subscription.input-group
              input.required.email.form-control(type='email', value='', name='EMAIL')
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_29605d300e62d91f5e2520c67_c3d06574f5', tabindex='-1', value='')
              span.input-group-btn
                input.button.btn(type='submit', value='Subscribe', name='subscribe')
          script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
          script(type='text/javascript').
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);



  .section.bg-white.p-b-0
    .container
      h4.text-center.header__bottom-border Blazing fast, built on Bitcoin
      .row
        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.m-b-lg
          p.text-center Bitcore is a full bitcoin node &mdash; your apps run directly on the peer-to-peer network. By binding directly into #[a(href="https://github.com/bitcoin/bitcoin") bitcoind]'s source code, Bitcore's API is 20x faster than connecting to a separate bitcoin node, and orders of magnitude faster than a centralized API.
      
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/illustrations/top-slice.svg")
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Open Source
          p.opacity-70 Bitcore is 100% open source, powered by the time-tested and battle-hardened Bitcore Library. 
          p.opacity-70 Apps built on Bitcore benefit from the extensive testing and review of dozens of bitcoin companies and community contributors.
          
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/illustrations/middle-slice.svg")
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Full-Featured & Extensible
          p.opacity-70 Bitcore provides a powerful blockchain API and the #[a(href="https://insight.is/" class="bold color-orange-dark") Insight] blockchain explorer, right out of the box.
          p.opacity-70 A modular, service-based architecture makes Bitcore a perfect platform for enterprise applications.
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/illustrations/bottom-slice.svg")
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Built on #[code Bitcoind]
          p.opacity-70 To build reliable bitcoin and blockchain-based applications, compatibility with #[a(href="https://github.com/bitcoin/bitcoin" class="bold color-orange-dark") Bitcoind] is essential.
          p.opacity-70 Bitcore uses the source code of Bitcoind directly, so accidental chain forks are a thing of the past.

    
  .bg-gray.p-y-lg.border-vertical-grey 
    .container
        .col-md-6.p-r-lg.border-right-grey
          a(href="/start").cta-link.bold.m-b.arrow-dark Get Started
          p.m-t Learn more about Bitcore with one of our guides or Bitcore development tutorials.
        .col-md-6.p-l-lg.p-l-lt-lg
          a(href="/api").cta-link.bold.m-b.arrow-dark Documentation
          p.m-t Dive into the full API documentation. Bitcore provides an extensive blockchain API right out of the box, and can be extended with dozens of modules and services.
  
  .section.bg-white
    .container
      h5.text-center.opacity-70.m-b-lg Built on Bitcore
      .col-lg-10.col-lg-offset-1.col-xs-12.col-sm-12.text-center
        a(href="http://counterparty.io/")
          img(src='/images/logos/counterparty.svg', alt='Counterparty').project-logo
        a(href="http://datt.co/")
          img(src='/images/logos/datt.svg', alt='Datt').project-logo
        a(href="https://proofofexistence.com/")
          img(src='/images/logos/proofofexistence.svg', alt='Datt').project-logo        
        a(href="http://pheeva.com/")
          img(src='/images/logos/pheeva.svg', alt='Pheeva').project-logo
        a(href="https://streamium.io/")
          img(src='/images/logos/streamium.svg', alt='Streamium').project-logo
        a(href="https://bitpay.com/")
          img(src='/images/logos/bitpay.svg', alt='BitPay').project-logo
        a(href="https://www.blocktrail.com/")
          img(src='/images/logos/blocktrail.svg', alt='Blocktrail').project-logo
        a(href="https://copay.io")
          img(src='/images/logos/copay.svg', alt='Copay').project-logo
