extends _layouts/primary

block body
  
  .background-element.grid-fade-in.text-center(style="background: url('/images/shadow-grid.png') no-repeat center; height:500px; width:100%")
  .hero.bg-white
    .container.hero-container
      .row
        .col-sm-12
          ul.nav.navbar-nav.space-between.hero-links.hidden-xs-down
            li.nav-item.fade-in-delayed
              a.nav-link(href="/start") Start
            li.nav-item.fade-in-delayed
              a.nav-link(href="/guides") Guides
            li.nav-item.fade-in-delayed
              a.nav-link(href="/api") API
            li.nav-item.fade-in-delayed
              a.nav-link(href="/playground") Playground
            li.nav-item.fade-in-delayed
              a.nav-link(href="http://forum.bitcore.io/") Forum
          img(src="/images/home-logo.png" width="150px").m-t-lg.m-b.fade-in-down
          h6.m-b-md.fade-in-up v1.0.0
          h4.m-b-lg.fade-in-delayed An open source full node for your bitcoin and blockchain app
          a(href="/start").btn.btn-primary.btn-margin.fade-in-delayed Get Started
          a(href="/api").btn.btn-secondary.btn-margin.fade-in-delayed Documentation


  .bg-darker.p-y-md.subscribe-bar
    .container
      .row
        .col-lg-4.col-lg-offset-2.col-md-6.hidden-sm-down
          iframe.pull-right.hidden-xs-down(src="https://ghbtns.com/github-btn.html?user=bitpay&repo=bitcore&type=fork&count=true&size=large&count=true" frameborder="0" scrolling="0" width="132px" height="30px")
          iframe.pull-right.hidden-xs-down(src="https://ghbtns.com/github-btn.html?user=bitpay&repo=bitcore&type=star&count=true&size=large&count=true" frameborder="0" scrolling="0" width="150px" height="30px")
        .col-lg-4.col-md-6.col-xs-12.bc-subscription.input-group
          form.validate(action='//bitcore.us7.list-manage.com/subscribe/post?u=29605d300e62d91f5e2520c67&id=c3d06574f5', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            div.bc-subscription.input-group
              input.required.email.form-control(type='email', value='', name='EMAIL')
              div(style='position: absolute; left: -5000px;')
                input(type='text', name='b_29605d300e62d91f5e2520c67_c3d06574f5', tabindex='-1', value='')
              span.input-group-btn
                input.button.btn(type='submit', value='Subscribe', name='subscribe')
          script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
          script(type='text/javascript').
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);



  .section.bg-white.p-b-0
    .container
      h4.text-center.header__bottom-border What makes it great
      .row
        .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.m-b-lg
          p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper quam risus, sit amet ipiscing elit. Donec semper quam ri
      
      
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/illustrations/top-slice.svg")
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Open Source
          p.opacity-70 Lorem ipsum dolor sit amet, consectetur adipiscing elit
          
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/illustrations/middle-slice.svg")
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Full-Featured & Extensible
          p.opacity-70 Lorem ipsum dolor sit amet, consectetur adipiscing elit
      .row.p-y-0.vertical-align
        .col-xs-6.col-sm-4.col-md-offset-1.col-lg-3.col-lg-offset-2.text-center 
          img(src="/images/illustrations/bottom-slice.svg")
        .col-xs-8.col-sm-8.col-md-6.col-lg-5
          h5.uppercase.letter-spacing-2.m-b-md Built on the blockchain
          p.opacity-70 Lorem ipsum dolor sit amet, consectetur adipiscing elit

    
  .bg-gray.p-y-lg.border-vertical-grey 
    .container
        .col-sm-6.p-r-lg.border-right-grey
          a(href="/start").cta-link.bold.m-b.arrow-dark Getting Started
          p.m-t Learn the basics of bitcoin, bitcore node, common use cases, and learn how to package your app for distribution
        .col-sm-6.p-l-lg
          a(href="/guides").cta-link.bold.m-b.arrow-dark Guides
          p.m-t Go deep with the full API documentation. You should have this pulled up.
  
  .section.bg-white
    .container
      h5.text-center.opacity-70.m-b-lg Projects Using Bitcore
      .col-lg-8.col-lg-offset-2.col-xs-12.col-sm-12.text-center
        a(href="")
          img(src='/images/projects/counterparty.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/datt.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/pheeva.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/streamium.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/bitpay.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/blocktrail.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/copay.svg', alt='').project-logo
