extends _layouts/primary

block content
  include _includes/main-menu.jade
  .section
    .row
      .column.large-8.large-offset-2.text-center
        h1.white.fade-in.text-shadow Build your application on bitcore
    .row
      .column.large-8.large-offset-2.text-center
        h3.white.medium-margin-top-less.fade-in.delay-4.text-shadow  An open source stack for building bitcoin and blockchain applications
        .margin-top-less.fade-in.delay-4
          a(href="#").uppercase.bold.white.btn.btn-orange.btn-margin.margin-top Get Started
          a(href="#").uppercase.bold.white.btn.btn-green.btn-margin.margin-top Documentation
          
          
