extends _layouts/primary

block body

  .hero.background-center(role="navigation" style="background: #ffffff url('/images/iso-grid.jpg'); background-position: center; background-repeat: no-repeat;")
    .container.hero-container
      .row
        .col-sm-12
          ul.nav.navbar-nav.space-between
            li.nav-item
              a.nav-link(href="/start") Getting Started
            li.nav-item
              a.nav-link(href="/services") Forum
            li.nav-item
              a.nav-link(href="/guides") Guides
            li.nav-item
              a.nav-link(href="/api") API
          img(src="/images/bitcore-logo-vertical-dark.svg").m-t-lg.m-b
          h6.m-b-md v1.0.0
          h5.m-b-lg An open source stack that funs a full node for your bitcoin and blockchain app
          button(href="/start" type="button").btn.btn-primary Getting Started
          button(href="/docs" type="button").btn.btn-secondary Documentation


  .bg-darker.p-y-md
    .container
      .col-sm-8.col-sm-offset-2.text-center
        <iframe src="https://ghbtns.com/github-btn.html?user=bitpay&repo=bitcore&type=star&count=true&size=large&count=true" frameborder="0" scrolling="0" width="150px" height="30px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=bitpay&repo=bitcore&type=fork&count=true&size=large&count=true" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>
        .input-group
          input(type="text" placeholder="Enter email to stay updated").form-control
          span.input-group-btn
            button.btn.btn-secondary(type="button") Subscribe


  .section.bg-white
    .container
      h4.text-center Features
      .row.p-y-lg.vertical-align
        .col-lg-4.col-lg-offset-2
          .test
            h5 Open source
            p This code is completely open source code, which means that you can go through.
        .col-lg-4.text-center
          img(src="/images/hex-placeholder.svg")
      .row.p-y.vertical-align
        .col-lg-4.col-lg-offset-2.text-center 
          img(src="/images/hex-placeholder.svg")
        .col-lg-4
          h5 Full-Featured & Extensible
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec semper quam risus, sit amet
      .row.p-y.vertical-align
        .col-lg-4.col-lg-offset-2 
          h5 Built on bitcoin core
          p This code is completely open source code, which means that you can go through.
        .col-lg-4.text-center
          img(src="/images/hex-placeholder.svg")


    
  .bg-gray.p-y-lg
    .container
        .col-sm-6.p-r-lg.border-right-grey
          h5.m-b Getting Started
          p Learn the basics of bitcoin, bitcore node, common use cases, and learn how to package your app for distribution
        .col-sm-6.p-l-lg
          h5.m-b Documentation
          p Go deep with the full API documentation. You should have this pulled up.
  
  .section.bg-white
    .container
      h5.text-center.opacity-70.m-b-lg Projects Using Bitcore
      .col-sm-8.col-lg-offset-2.text-center
        a(href="")
          img(src='/images/projects/counterparty.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/datt.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/pheeva.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/streamium.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/bitpay.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/blocktrail.svg', alt='').project-logo
        a(href="")
          img(src='/images/projects/copay.svg', alt='').project-logo
