extends _layouts/primary

block content
  include _includes/main-menu.jade
  .section
    .row
      .column.large-8.large-offset-2.text-center
        h1.white.fade-in.text-shadow Services
    .row
      .column.large-8.large-offset-2.text-center
        h3.white.medium-margin-top-less.fade-in.delay-4.text-shadow  An open source stack for building bitcoin and blockchain applications
