extends _layouts/primary

append vars
  -var title = 'Getting Started';
  -var section = 'start';
  -var description = 'Run a bitcoin node with Bitcore.'; 

block page
  .bg-darker.p-t-lg.p-b-0
    .container
      .row
        .col-sm-12.col-md-12.col-lg-7
          .m-b-md
            h1.color-white.header__bottom-border-left Getting Started
            h4.color-white.opacity-70.m-y Spin up a node on the bitcoin network.
          p.color-white Bitcore has #[a(href="https://github.com/bitcoin/bitcoin" target="_new") bitcoind] built right in, so joining the peer-to-peer network is simple.
        .col-sm-12.col-md-12.col-lg-5
          img.width-100(src="/images/icosahedron-spheres.png")
  
  .section.bg-white
    .container
      .row.steps
        .col-lg-6
          .tutorial-number 1
          h4 Install Bitcore
          p You'll need to have Node.js v0.12 or v4.2 LTS installed. For more info, check out our #[a(href="/guides/full-node" class="bold color-orange-dark") expanded guide].
        .col-lg-6
          pre
            code.language-bash npm install -g bitcore

      .row.steps
        .col-lg-6
          .tutorial-number 2
          h4 Start your node
          p Once you install Bitcore, the #[code bitcored] command will be available in your terminal. Run it to start your node. 
        .col-lg-6
          pre
            code.language-bash bitcored
          
      .row.steps
        .col-lg-6
          .tutorial-number 3
          h4 Open Insight
          p Your Bitcore node is now connecting to the peer-to-peer network and downloading the blockchain.
          p You can watch the download progress by opening #[a(href='https://insight.is/' class="bold color-orange-dark") Insight], the bundled blockchain explorer, in a web browser.
        .col-lg-6
          pre
            code.language-bash open http://localhost:3001/insight/
  
  .section.bg-white.border-top-grey
    .container
      h4.text-center.header__bottom-border What's Next
      .row
        .col-lg-8.col-lg-offset-2.m-b-lg
          p.text-center Connect Copay to your own wallet service or follow one of our tutorials to start building with Bitcore. 
      .row
        .col-lg-5
          img.card-img-top.width-100.m-b-md(src='/images/illustrations/bws-landscape.svg', alt='Card image cap')
          a(href="guides/wallet-service").orange-uppercase-link Run your own wallet service
          p.m-t Add Bitcore Wallet Service to your Bitcore node, and connect your Copay wallet.
          p Copay let's you control your own funds, Bitcore Wallet Service let's you control your information, too.
        .col-lg-1
        .col-lg-6.col-offset-1.border-left-grey
          .row.vertical-align.m-b-lg.m-t-0
            .col-xs-3.text-center 
              img(src="/images/illustrations/fire-alarm.svg")
            .col-xs-9
              a(href="/guides/satoshi-fire-alarm").orange-uppercase-link Satoshi Fire Alarm
              p.opacity-70 Set up a Bitcore service to watch some famous coins.
          .row.vertical-align.m-y-lg
            .col-xs-3.text-center 
              img(src="/images/illustrations/lemonade-stand.svg")
            .col-xs-9
              a(href="/guides/lemonade-stand").orange-uppercase-link Lemonade Stand
              p.opacity-70 Learn how to accept bitcoin payments directly on your website.           
          .row.vertical-align.m-y-lg
            .col-xs-3.text-center 
              img(src="/images/illustrations/i-made-this.svg")
            .col-xs-9
              a(href="/guides/i-made-this").orange-uppercase-link I made this
              p.opacity-70 Build a desktop app to timestamp information right in the blockchain.        
              
  .section.bg-orange.border-top-grey
    .container
      .row
        .col-xs-12.col-md-6
          h2.color-white.header__bottom-border-left Enterprise Grade Support
          
      .row
        .col-xs-12.col-md-6.col-md-push-6
          img(src="/images/logos/bloq-white.svg").bloq-logo
        .col-xs-12.col-md-6.col-md-pull-6
          p.lead.color-white.m-y Want to build your company's Bitcoin or blockchain application using Bitcore? 
          p.color-white.m-y Our partner Bloq offers commercial implementation and support for Bitcore and expertise from some of the world's top blockchain experts.
          a(href="http://bloq.com/").btn.btn-secondary.btn-margin.m-t-lg Visit Bloq
  
  .bg-gray.p-y-lg.border-vertical-grey 
    .container
        .col-md-6.p-r-lg.border-right-grey
          a(href="/guides").cta-link.bold.m-b.arrow-dark Guides
          p.m-t Learn more about Bitcore with one of our guides or Bitcore development tutorials.
        .col-md-6.p-l-lg.p-l-lt-lg
          a(href="/api").cta-link.bold.m-b.arrow-dark Documentation
          p.m-t Dive into the full API documentation. Bitcore provides an extensive blockchain API right out of the box, and can be extended with dozens of modules and services.
